.test-btn {
  background-color: #6a6866;
}

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap- > * {
  padding: 0;
}

.gap- {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #326dee;
}

.text-hover-primary:hover {
  color: #326dee;
}

.bg-primary {
  background-color: #326dee;
}

.bg-hover-primary:hover {
  background-color: #326dee;
}

.text-primary-light-1 {
  color: #477cf0;
}

.text-hover-primary-light-1:hover {
  color: #477cf0;
}

.bg-primary-light-1 {
  background-color: #477cf0;
}

.bg-hover-primary-light-1:hover {
  background-color: #477cf0;
}

.text-primary-light-2 {
  color: #5b8af1;
}

.text-hover-primary-light-2:hover {
  color: #5b8af1;
}

.bg-primary-light-2 {
  background-color: #5b8af1;
}

.bg-hover-primary-light-2:hover {
  background-color: #5b8af1;
}

.text-primary-light-3 {
  color: #7099f3;
}

.text-hover-primary-light-3:hover {
  color: #7099f3;
}

.bg-primary-light-3 {
  background-color: #7099f3;
}

.bg-hover-primary-light-3:hover {
  background-color: #7099f3;
}

.text-primary-light-4 {
  color: #84a7f5;
}

.text-hover-primary-light-4:hover {
  color: #84a7f5;
}

.bg-primary-light-4 {
  background-color: #84a7f5;
}

.bg-hover-primary-light-4:hover {
  background-color: #84a7f5;
}

.text-primary-light-5 {
  color: #99b6f7;
}

.text-hover-primary-light-5:hover {
  color: #99b6f7;
}

.bg-primary-light-5 {
  background-color: #99b6f7;
}

.bg-hover-primary-light-5:hover {
  background-color: #99b6f7;
}

.text-primary-light-6 {
  color: #adc5f8;
}

.text-hover-primary-light-6:hover {
  color: #adc5f8;
}

.bg-primary-light-6 {
  background-color: #adc5f8;
}

.bg-hover-primary-light-6:hover {
  background-color: #adc5f8;
}

.text-primary-light-7 {
  color: #c2d3fa;
}

.text-hover-primary-light-7:hover {
  color: #c2d3fa;
}

.bg-primary-light-7 {
  background-color: #c2d3fa;
}

.bg-hover-primary-light-7:hover {
  background-color: #c2d3fa;
}

.text-primary-light-8 {
  color: #d6e2fc;
}

.text-hover-primary-light-8:hover {
  color: #d6e2fc;
}

.bg-primary-light-8 {
  background-color: #d6e2fc;
}

.bg-hover-primary-light-8:hover {
  background-color: #d6e2fc;
}

.text-primary-light-9 {
  color: #ebf0fd;
}

.text-hover-primary-light-9:hover {
  color: #ebf0fd;
}

.bg-primary-light-9 {
  background-color: #ebf0fd;
}

.bg-hover-primary-light-9:hover {
  background-color: #ebf0fd;
}

.text-primary-dark-1 {
  color: #2d62d6;
}

.text-hover-primary-dark-1:hover {
  color: #2d62d6;
}

.bg-primary-dark-1 {
  background-color: #2d62d6;
}

.bg-hover-primary-dark-1:hover {
  background-color: #2d62d6;
}

.text-primary-dark-2 {
  color: #2857be;
}

.text-hover-primary-dark-2:hover {
  color: #2857be;
}

.bg-primary-dark-2 {
  background-color: #2857be;
}

.bg-hover-primary-dark-2:hover {
  background-color: #2857be;
}

.text-primary-dark-3 {
  color: #234ca7;
}

.text-hover-primary-dark-3:hover {
  color: #234ca7;
}

.bg-primary-dark-3 {
  background-color: #234ca7;
}

.bg-hover-primary-dark-3:hover {
  background-color: #234ca7;
}

.text-primary-dark-4 {
  color: #1e418f;
}

.text-hover-primary-dark-4:hover {
  color: #1e418f;
}

.bg-primary-dark-4 {
  background-color: #1e418f;
}

.bg-hover-primary-dark-4:hover {
  background-color: #1e418f;
}

.text-primary-dark-5 {
  color: #193777;
}

.text-hover-primary-dark-5:hover {
  color: #193777;
}

.bg-primary-dark-5 {
  background-color: #193777;
}

.bg-hover-primary-dark-5:hover {
  background-color: #193777;
}

.text-primary-dark-6 {
  color: #142c5f;
}

.text-hover-primary-dark-6:hover {
  color: #142c5f;
}

.bg-primary-dark-6 {
  background-color: #142c5f;
}

.bg-hover-primary-dark-6:hover {
  background-color: #142c5f;
}

.text-primary-dark-7 {
  color: #0f2147;
}

.text-hover-primary-dark-7:hover {
  color: #0f2147;
}

.bg-primary-dark-7 {
  background-color: #0f2147;
}

.bg-hover-primary-dark-7:hover {
  background-color: #0f2147;
}

.text-primary-dark-8 {
  color: #0a1630;
}

.text-hover-primary-dark-8:hover {
  color: #0a1630;
}

.bg-primary-dark-8 {
  background-color: #0a1630;
}

.bg-hover-primary-dark-8:hover {
  background-color: #0a1630;
}

.text-primary-dark-9 {
  color: #050b18;
}

.text-hover-primary-dark-9:hover {
  color: #050b18;
}

.bg-primary-dark-9 {
  background-color: #050b18;
}

.bg-hover-primary-dark-9:hover {
  background-color: #050b18;
}

.text-secondary {
  color: #1e8049;
}

.text-hover-secondary:hover {
  color: #1e8049;
}

.bg-secondary {
  background-color: #1e8049;
}

.bg-hover-secondary:hover {
  background-color: #1e8049;
}

.text-secondary-light-1 {
  color: #358d5b;
}

.text-hover-secondary-light-1:hover {
  color: #358d5b;
}

.bg-secondary-light-1 {
  background-color: #358d5b;
}

.bg-hover-secondary-light-1:hover {
  background-color: #358d5b;
}

.text-secondary-light-2 {
  color: #4b996d;
}

.text-hover-secondary-light-2:hover {
  color: #4b996d;
}

.bg-secondary-light-2 {
  background-color: #4b996d;
}

.bg-hover-secondary-light-2:hover {
  background-color: #4b996d;
}

.text-secondary-light-3 {
  color: #62a680;
}

.text-hover-secondary-light-3:hover {
  color: #62a680;
}

.bg-secondary-light-3 {
  background-color: #62a680;
}

.bg-hover-secondary-light-3:hover {
  background-color: #62a680;
}

.text-secondary-light-4 {
  color: #78b392;
}

.text-hover-secondary-light-4:hover {
  color: #78b392;
}

.bg-secondary-light-4 {
  background-color: #78b392;
}

.bg-hover-secondary-light-4:hover {
  background-color: #78b392;
}

.text-secondary-light-5 {
  color: #8fc0a4;
}

.text-hover-secondary-light-5:hover {
  color: #8fc0a4;
}

.bg-secondary-light-5 {
  background-color: #8fc0a4;
}

.bg-hover-secondary-light-5:hover {
  background-color: #8fc0a4;
}

.text-secondary-light-6 {
  color: #a5ccb6;
}

.text-hover-secondary-light-6:hover {
  color: #a5ccb6;
}

.bg-secondary-light-6 {
  background-color: #a5ccb6;
}

.bg-hover-secondary-light-6:hover {
  background-color: #a5ccb6;
}

.text-secondary-light-7 {
  color: #bcd9c8;
}

.text-hover-secondary-light-7:hover {
  color: #bcd9c8;
}

.bg-secondary-light-7 {
  background-color: #bcd9c8;
}

.bg-hover-secondary-light-7:hover {
  background-color: #bcd9c8;
}

.text-secondary-light-8 {
  color: #d2e6db;
}

.text-hover-secondary-light-8:hover {
  color: #d2e6db;
}

.bg-secondary-light-8 {
  background-color: #d2e6db;
}

.bg-hover-secondary-light-8:hover {
  background-color: #d2e6db;
}

.text-secondary-light-9 {
  color: #e9f2ed;
}

.text-hover-secondary-light-9:hover {
  color: #e9f2ed;
}

.bg-secondary-light-9 {
  background-color: #e9f2ed;
}

.bg-hover-secondary-light-9:hover {
  background-color: #e9f2ed;
}

.text-secondary-dark-1 {
  color: #1b7342;
}

.text-hover-secondary-dark-1:hover {
  color: #1b7342;
}

.bg-secondary-dark-1 {
  background-color: #1b7342;
}

.bg-hover-secondary-dark-1:hover {
  background-color: #1b7342;
}

.text-secondary-dark-2 {
  color: #18663a;
}

.text-hover-secondary-dark-2:hover {
  color: #18663a;
}

.bg-secondary-dark-2 {
  background-color: #18663a;
}

.bg-hover-secondary-dark-2:hover {
  background-color: #18663a;
}

.text-secondary-dark-3 {
  color: #155a33;
}

.text-hover-secondary-dark-3:hover {
  color: #155a33;
}

.bg-secondary-dark-3 {
  background-color: #155a33;
}

.bg-hover-secondary-dark-3:hover {
  background-color: #155a33;
}

.text-secondary-dark-4 {
  color: #124d2c;
}

.text-hover-secondary-dark-4:hover {
  color: #124d2c;
}

.bg-secondary-dark-4 {
  background-color: #124d2c;
}

.bg-hover-secondary-dark-4:hover {
  background-color: #124d2c;
}

.text-secondary-dark-5 {
  color: #0f4025;
}

.text-hover-secondary-dark-5:hover {
  color: #0f4025;
}

.bg-secondary-dark-5 {
  background-color: #0f4025;
}

.bg-hover-secondary-dark-5:hover {
  background-color: #0f4025;
}

.text-secondary-dark-6 {
  color: #0c331d;
}

.text-hover-secondary-dark-6:hover {
  color: #0c331d;
}

.bg-secondary-dark-6 {
  background-color: #0c331d;
}

.bg-hover-secondary-dark-6:hover {
  background-color: #0c331d;
}

.text-secondary-dark-7 {
  color: #092616;
}

.text-hover-secondary-dark-7:hover {
  color: #092616;
}

.bg-secondary-dark-7 {
  background-color: #092616;
}

.bg-hover-secondary-dark-7:hover {
  background-color: #092616;
}

.text-secondary-dark-8 {
  color: #061a0f;
}

.text-hover-secondary-dark-8:hover {
  color: #061a0f;
}

.bg-secondary-dark-8 {
  background-color: #061a0f;
}

.bg-hover-secondary-dark-8:hover {
  background-color: #061a0f;
}

.text-secondary-dark-9 {
  color: #030d07;
}

.text-hover-secondary-dark-9:hover {
  color: #030d07;
}

.bg-secondary-dark-9 {
  background-color: #030d07;
}

.bg-hover-secondary-dark-9:hover {
  background-color: #030d07;
}

.text-error {
  color: #d32752;
}

.text-hover-error:hover {
  color: #d32752;
}

.bg-error {
  background-color: #d32752;
}

.bg-hover-error:hover {
  background-color: #d32752;
}

.text-error-light-1 {
  color: #d73d63;
}

.text-hover-error-light-1:hover {
  color: #d73d63;
}

.bg-error-light-1 {
  background-color: #d73d63;
}

.bg-hover-error-light-1:hover {
  background-color: #d73d63;
}

.text-error-light-2 {
  color: #dc5275;
}

.text-hover-error-light-2:hover {
  color: #dc5275;
}

.bg-error-light-2 {
  background-color: #dc5275;
}

.bg-hover-error-light-2:hover {
  background-color: #dc5275;
}

.text-error-light-3 {
  color: #e06886;
}

.text-hover-error-light-3:hover {
  color: #e06886;
}

.bg-error-light-3 {
  background-color: #e06886;
}

.bg-hover-error-light-3:hover {
  background-color: #e06886;
}

.text-error-light-4 {
  color: #e57d97;
}

.text-hover-error-light-4:hover {
  color: #e57d97;
}

.bg-error-light-4 {
  background-color: #e57d97;
}

.bg-hover-error-light-4:hover {
  background-color: #e57d97;
}

.text-error-light-5 {
  color: #e993a9;
}

.text-hover-error-light-5:hover {
  color: #e993a9;
}

.bg-error-light-5 {
  background-color: #e993a9;
}

.bg-hover-error-light-5:hover {
  background-color: #e993a9;
}

.text-error-light-6 {
  color: #eda9ba;
}

.text-hover-error-light-6:hover {
  color: #eda9ba;
}

.bg-error-light-6 {
  background-color: #eda9ba;
}

.bg-hover-error-light-6:hover {
  background-color: #eda9ba;
}

.text-error-light-7 {
  color: #f2becb;
}

.text-hover-error-light-7:hover {
  color: #f2becb;
}

.bg-error-light-7 {
  background-color: #f2becb;
}

.bg-hover-error-light-7:hover {
  background-color: #f2becb;
}

.text-error-light-8 {
  color: #f6d4dc;
}

.text-hover-error-light-8:hover {
  color: #f6d4dc;
}

.bg-error-light-8 {
  background-color: #f6d4dc;
}

.bg-hover-error-light-8:hover {
  background-color: #f6d4dc;
}

.text-error-light-9 {
  color: #fbe9ee;
}

.text-hover-error-light-9:hover {
  color: #fbe9ee;
}

.bg-error-light-9 {
  background-color: #fbe9ee;
}

.bg-hover-error-light-9:hover {
  background-color: #fbe9ee;
}

.text-error-dark-1 {
  color: #be234a;
}

.text-hover-error-dark-1:hover {
  color: #be234a;
}

.bg-error-dark-1 {
  background-color: #be234a;
}

.bg-hover-error-dark-1:hover {
  background-color: #be234a;
}

.text-error-dark-2 {
  color: #a91f42;
}

.text-hover-error-dark-2:hover {
  color: #a91f42;
}

.bg-error-dark-2 {
  background-color: #a91f42;
}

.bg-hover-error-dark-2:hover {
  background-color: #a91f42;
}

.text-error-dark-3 {
  color: #941b39;
}

.text-hover-error-dark-3:hover {
  color: #941b39;
}

.bg-error-dark-3 {
  background-color: #941b39;
}

.bg-hover-error-dark-3:hover {
  background-color: #941b39;
}

.text-error-dark-4 {
  color: #7f1731;
}

.text-hover-error-dark-4:hover {
  color: #7f1731;
}

.bg-error-dark-4 {
  background-color: #7f1731;
}

.bg-hover-error-dark-4:hover {
  background-color: #7f1731;
}

.text-error-dark-5 {
  color: #6a1429;
}

.text-hover-error-dark-5:hover {
  color: #6a1429;
}

.bg-error-dark-5 {
  background-color: #6a1429;
}

.bg-hover-error-dark-5:hover {
  background-color: #6a1429;
}

.text-error-dark-6 {
  color: #541021;
}

.text-hover-error-dark-6:hover {
  color: #541021;
}

.bg-error-dark-6 {
  background-color: #541021;
}

.bg-hover-error-dark-6:hover {
  background-color: #541021;
}

.text-error-dark-7 {
  color: #3f0c19;
}

.text-hover-error-dark-7:hover {
  color: #3f0c19;
}

.bg-error-dark-7 {
  background-color: #3f0c19;
}

.bg-hover-error-dark-7:hover {
  background-color: #3f0c19;
}

.text-error-dark-8 {
  color: #2a0810;
}

.text-hover-error-dark-8:hover {
  color: #2a0810;
}

.bg-error-dark-8 {
  background-color: #2a0810;
}

.bg-hover-error-dark-8:hover {
  background-color: #2a0810;
}

.text-error-dark-9 {
  color: #150408;
}

.text-hover-error-dark-9:hover {
  color: #150408;
}

.bg-error-dark-9 {
  background-color: #150408;
}

.bg-hover-error-dark-9:hover {
  background-color: #150408;
}

.text-info {
  color: #f6c31c;
}

.text-hover-info:hover {
  color: #f6c31c;
}

.bg-info {
  background-color: #f6c31c;
}

.bg-hover-info:hover {
  background-color: #f6c31c;
}

.text-info-light-1 {
  color: #f7c933;
}

.text-hover-info-light-1:hover {
  color: #f7c933;
}

.bg-info-light-1 {
  background-color: #f7c933;
}

.bg-hover-info-light-1:hover {
  background-color: #f7c933;
}

.text-info-light-2 {
  color: #f8cf49;
}

.text-hover-info-light-2:hover {
  color: #f8cf49;
}

.bg-info-light-2 {
  background-color: #f8cf49;
}

.bg-hover-info-light-2:hover {
  background-color: #f8cf49;
}

.text-info-light-3 {
  color: #f9d560;
}

.text-hover-info-light-3:hover {
  color: #f9d560;
}

.bg-info-light-3 {
  background-color: #f9d560;
}

.bg-hover-info-light-3:hover {
  background-color: #f9d560;
}

.text-info-light-4 {
  color: #fadb77;
}

.text-hover-info-light-4:hover {
  color: #fadb77;
}

.bg-info-light-4 {
  background-color: #fadb77;
}

.bg-hover-info-light-4:hover {
  background-color: #fadb77;
}

.text-info-light-5 {
  color: #fbe18e;
}

.text-hover-info-light-5:hover {
  color: #fbe18e;
}

.bg-info-light-5 {
  background-color: #fbe18e;
}

.bg-hover-info-light-5:hover {
  background-color: #fbe18e;
}

.text-info-light-6 {
  color: #fbe7a4;
}

.text-hover-info-light-6:hover {
  color: #fbe7a4;
}

.bg-info-light-6 {
  background-color: #fbe7a4;
}

.bg-hover-info-light-6:hover {
  background-color: #fbe7a4;
}

.text-info-light-7 {
  color: #fcedbb;
}

.text-hover-info-light-7:hover {
  color: #fcedbb;
}

.bg-info-light-7 {
  background-color: #fcedbb;
}

.bg-hover-info-light-7:hover {
  background-color: #fcedbb;
}

.text-info-light-8 {
  color: #fdf3d2;
}

.text-hover-info-light-8:hover {
  color: #fdf3d2;
}

.bg-info-light-8 {
  background-color: #fdf3d2;
}

.bg-hover-info-light-8:hover {
  background-color: #fdf3d2;
}

.text-info-light-9 {
  color: #fef9e8;
}

.text-hover-info-light-9:hover {
  color: #fef9e8;
}

.bg-info-light-9 {
  background-color: #fef9e8;
}

.bg-hover-info-light-9:hover {
  background-color: #fef9e8;
}

.text-info-dark-1 {
  color: #ddb019;
}

.text-hover-info-dark-1:hover {
  color: #ddb019;
}

.bg-info-dark-1 {
  background-color: #ddb019;
}

.bg-hover-info-dark-1:hover {
  background-color: #ddb019;
}

.text-info-dark-2 {
  color: #c59c16;
}

.text-hover-info-dark-2:hover {
  color: #c59c16;
}

.bg-info-dark-2 {
  background-color: #c59c16;
}

.bg-hover-info-dark-2:hover {
  background-color: #c59c16;
}

.text-info-dark-3 {
  color: #ac8914;
}

.text-hover-info-dark-3:hover {
  color: #ac8914;
}

.bg-info-dark-3 {
  background-color: #ac8914;
}

.bg-hover-info-dark-3:hover {
  background-color: #ac8914;
}

.text-info-dark-4 {
  color: #947511;
}

.text-hover-info-dark-4:hover {
  color: #947511;
}

.bg-info-dark-4 {
  background-color: #947511;
}

.bg-hover-info-dark-4:hover {
  background-color: #947511;
}

.text-info-dark-5 {
  color: #7b620e;
}

.text-hover-info-dark-5:hover {
  color: #7b620e;
}

.bg-info-dark-5 {
  background-color: #7b620e;
}

.bg-hover-info-dark-5:hover {
  background-color: #7b620e;
}

.text-info-dark-6 {
  color: #624e0b;
}

.text-hover-info-dark-6:hover {
  color: #624e0b;
}

.bg-info-dark-6 {
  background-color: #624e0b;
}

.bg-hover-info-dark-6:hover {
  background-color: #624e0b;
}

.text-info-dark-7 {
  color: #4a3b08;
}

.text-hover-info-dark-7:hover {
  color: #4a3b08;
}

.bg-info-dark-7 {
  background-color: #4a3b08;
}

.bg-hover-info-dark-7:hover {
  background-color: #4a3b08;
}

.text-info-dark-8 {
  color: #312706;
}

.text-hover-info-dark-8:hover {
  color: #312706;
}

.bg-info-dark-8 {
  background-color: #312706;
}

.bg-hover-info-dark-8:hover {
  background-color: #312706;
}

.text-info-dark-9 {
  color: #191403;
}

.text-hover-info-dark-9:hover {
  color: #191403;
}

.bg-info-dark-9 {
  background-color: #191403;
}

.bg-hover-info-dark-9:hover {
  background-color: #191403;
}

.text-blue {
  color: #2b2bb4;
}

.text-hover-blue:hover {
  color: #2b2bb4;
}

.bg-blue {
  background-color: #2b2bb4;
}

.bg-hover-blue:hover {
  background-color: #2b2bb4;
}

.text-blue-light-1 {
  color: #4040bc;
}

.text-hover-blue-light-1:hover {
  color: #4040bc;
}

.bg-blue-light-1 {
  background-color: #4040bc;
}

.bg-hover-blue-light-1:hover {
  background-color: #4040bc;
}

.text-blue-light-2 {
  color: #5555c3;
}

.text-hover-blue-light-2:hover {
  color: #5555c3;
}

.bg-blue-light-2 {
  background-color: #5555c3;
}

.bg-hover-blue-light-2:hover {
  background-color: #5555c3;
}

.text-blue-light-3 {
  color: #6b6bcb;
}

.text-hover-blue-light-3:hover {
  color: #6b6bcb;
}

.bg-blue-light-3 {
  background-color: #6b6bcb;
}

.bg-hover-blue-light-3:hover {
  background-color: #6b6bcb;
}

.text-blue-light-4 {
  color: #8080d2;
}

.text-hover-blue-light-4:hover {
  color: #8080d2;
}

.bg-blue-light-4 {
  background-color: #8080d2;
}

.bg-hover-blue-light-4:hover {
  background-color: #8080d2;
}

.text-blue-light-5 {
  color: #9595da;
}

.text-hover-blue-light-5:hover {
  color: #9595da;
}

.bg-blue-light-5 {
  background-color: #9595da;
}

.bg-hover-blue-light-5:hover {
  background-color: #9595da;
}

.text-blue-light-6 {
  color: #aaaae1;
}

.text-hover-blue-light-6:hover {
  color: #aaaae1;
}

.bg-blue-light-6 {
  background-color: #aaaae1;
}

.bg-hover-blue-light-6:hover {
  background-color: #aaaae1;
}

.text-blue-light-7 {
  color: #bfbfe9;
}

.text-hover-blue-light-7:hover {
  color: #bfbfe9;
}

.bg-blue-light-7 {
  background-color: #bfbfe9;
}

.bg-hover-blue-light-7:hover {
  background-color: #bfbfe9;
}

.text-blue-light-8 {
  color: #d5d5f0;
}

.text-hover-blue-light-8:hover {
  color: #d5d5f0;
}

.bg-blue-light-8 {
  background-color: #d5d5f0;
}

.bg-hover-blue-light-8:hover {
  background-color: #d5d5f0;
}

.text-blue-light-9 {
  color: #eaeaf8;
}

.text-hover-blue-light-9:hover {
  color: #eaeaf8;
}

.bg-blue-light-9 {
  background-color: #eaeaf8;
}

.bg-hover-blue-light-9:hover {
  background-color: #eaeaf8;
}

.text-blue-dark-1 {
  color: #2727a2;
}

.text-hover-blue-dark-1:hover {
  color: #2727a2;
}

.bg-blue-dark-1 {
  background-color: #2727a2;
}

.bg-hover-blue-dark-1:hover {
  background-color: #2727a2;
}

.text-blue-dark-2 {
  color: #222290;
}

.text-hover-blue-dark-2:hover {
  color: #222290;
}

.bg-blue-dark-2 {
  background-color: #222290;
}

.bg-hover-blue-dark-2:hover {
  background-color: #222290;
}

.text-blue-dark-3 {
  color: #1e1e7e;
}

.text-hover-blue-dark-3:hover {
  color: #1e1e7e;
}

.bg-blue-dark-3 {
  background-color: #1e1e7e;
}

.bg-hover-blue-dark-3:hover {
  background-color: #1e1e7e;
}

.text-blue-dark-4 {
  color: #1a1a6c;
}

.text-hover-blue-dark-4:hover {
  color: #1a1a6c;
}

.bg-blue-dark-4 {
  background-color: #1a1a6c;
}

.bg-hover-blue-dark-4:hover {
  background-color: #1a1a6c;
}

.text-blue-dark-5 {
  color: #16165a;
}

.text-hover-blue-dark-5:hover {
  color: #16165a;
}

.bg-blue-dark-5 {
  background-color: #16165a;
}

.bg-hover-blue-dark-5:hover {
  background-color: #16165a;
}

.text-blue-dark-6 {
  color: #111148;
}

.text-hover-blue-dark-6:hover {
  color: #111148;
}

.bg-blue-dark-6 {
  background-color: #111148;
}

.bg-hover-blue-dark-6:hover {
  background-color: #111148;
}

.text-blue-dark-7 {
  color: #0d0d36;
}

.text-hover-blue-dark-7:hover {
  color: #0d0d36;
}

.bg-blue-dark-7 {
  background-color: #0d0d36;
}

.bg-hover-blue-dark-7:hover {
  background-color: #0d0d36;
}

.text-blue-dark-8 {
  color: #090924;
}

.text-hover-blue-dark-8:hover {
  color: #090924;
}

.bg-blue-dark-8 {
  background-color: #090924;
}

.bg-hover-blue-dark-8:hover {
  background-color: #090924;
}

.text-blue-dark-9 {
  color: #040412;
}

.text-hover-blue-dark-9:hover {
  color: #040412;
}

.bg-blue-dark-9 {
  background-color: #040412;
}

.bg-hover-blue-dark-9:hover {
  background-color: #040412;
}

.text-orange {
  color: #d78232;
}

.text-hover-orange:hover {
  color: #d78232;
}

.bg-orange {
  background-color: #d78232;
}

.bg-hover-orange:hover {
  background-color: #d78232;
}

.text-orange-light-1 {
  color: #db8f47;
}

.text-hover-orange-light-1:hover {
  color: #db8f47;
}

.bg-orange-light-1 {
  background-color: #db8f47;
}

.bg-hover-orange-light-1:hover {
  background-color: #db8f47;
}

.text-orange-light-2 {
  color: #df9b5b;
}

.text-hover-orange-light-2:hover {
  color: #df9b5b;
}

.bg-orange-light-2 {
  background-color: #df9b5b;
}

.bg-hover-orange-light-2:hover {
  background-color: #df9b5b;
}

.text-orange-light-3 {
  color: #e3a870;
}

.text-hover-orange-light-3:hover {
  color: #e3a870;
}

.bg-orange-light-3 {
  background-color: #e3a870;
}

.bg-hover-orange-light-3:hover {
  background-color: #e3a870;
}

.text-orange-light-4 {
  color: #e7b484;
}

.text-hover-orange-light-4:hover {
  color: #e7b484;
}

.bg-orange-light-4 {
  background-color: #e7b484;
}

.bg-hover-orange-light-4:hover {
  background-color: #e7b484;
}

.text-orange-light-5 {
  color: #ebc199;
}

.text-hover-orange-light-5:hover {
  color: #ebc199;
}

.bg-orange-light-5 {
  background-color: #ebc199;
}

.bg-hover-orange-light-5:hover {
  background-color: #ebc199;
}

.text-orange-light-6 {
  color: #efcdad;
}

.text-hover-orange-light-6:hover {
  color: #efcdad;
}

.bg-orange-light-6 {
  background-color: #efcdad;
}

.bg-hover-orange-light-6:hover {
  background-color: #efcdad;
}

.text-orange-light-7 {
  color: #f3dac2;
}

.text-hover-orange-light-7:hover {
  color: #f3dac2;
}

.bg-orange-light-7 {
  background-color: #f3dac2;
}

.bg-hover-orange-light-7:hover {
  background-color: #f3dac2;
}

.text-orange-light-8 {
  color: #f7e6d6;
}

.text-hover-orange-light-8:hover {
  color: #f7e6d6;
}

.bg-orange-light-8 {
  background-color: #f7e6d6;
}

.bg-hover-orange-light-8:hover {
  background-color: #f7e6d6;
}

.text-orange-light-9 {
  color: #fbf3eb;
}

.text-hover-orange-light-9:hover {
  color: #fbf3eb;
}

.bg-orange-light-9 {
  background-color: #fbf3eb;
}

.bg-hover-orange-light-9:hover {
  background-color: #fbf3eb;
}

.text-orange-dark-1 {
  color: #c2752d;
}

.text-hover-orange-dark-1:hover {
  color: #c2752d;
}

.bg-orange-dark-1 {
  background-color: #c2752d;
}

.bg-hover-orange-dark-1:hover {
  background-color: #c2752d;
}

.text-orange-dark-2 {
  color: #ac6828;
}

.text-hover-orange-dark-2:hover {
  color: #ac6828;
}

.bg-orange-dark-2 {
  background-color: #ac6828;
}

.bg-hover-orange-dark-2:hover {
  background-color: #ac6828;
}

.text-orange-dark-3 {
  color: #975b23;
}

.text-hover-orange-dark-3:hover {
  color: #975b23;
}

.bg-orange-dark-3 {
  background-color: #975b23;
}

.bg-hover-orange-dark-3:hover {
  background-color: #975b23;
}

.text-orange-dark-4 {
  color: #814e1e;
}

.text-hover-orange-dark-4:hover {
  color: #814e1e;
}

.bg-orange-dark-4 {
  background-color: #814e1e;
}

.bg-hover-orange-dark-4:hover {
  background-color: #814e1e;
}

.text-orange-dark-5 {
  color: #6c4119;
}

.text-hover-orange-dark-5:hover {
  color: #6c4119;
}

.bg-orange-dark-5 {
  background-color: #6c4119;
}

.bg-hover-orange-dark-5:hover {
  background-color: #6c4119;
}

.text-orange-dark-6 {
  color: #563414;
}

.text-hover-orange-dark-6:hover {
  color: #563414;
}

.bg-orange-dark-6 {
  background-color: #563414;
}

.bg-hover-orange-dark-6:hover {
  background-color: #563414;
}

.text-orange-dark-7 {
  color: #41270f;
}

.text-hover-orange-dark-7:hover {
  color: #41270f;
}

.bg-orange-dark-7 {
  background-color: #41270f;
}

.bg-hover-orange-dark-7:hover {
  background-color: #41270f;
}

.text-orange-dark-8 {
  color: #2b1a0a;
}

.text-hover-orange-dark-8:hover {
  color: #2b1a0a;
}

.bg-orange-dark-8 {
  background-color: #2b1a0a;
}

.bg-hover-orange-dark-8:hover {
  background-color: #2b1a0a;
}

.text-orange-dark-9 {
  color: #160d05;
}

.text-hover-orange-dark-9:hover {
  color: #160d05;
}

.bg-orange-dark-9 {
  background-color: #160d05;
}

.bg-hover-orange-dark-9:hover {
  background-color: #160d05;
}

.text-grey {
  color: #6a6866;
}

.text-hover-grey:hover {
  color: #6a6866;
}

.bg-grey {
  background-color: #6a6866;
}

.bg-hover-grey:hover {
  background-color: #6a6866;
}

.text-grey-light-1 {
  color: #797775;
}

.text-hover-grey-light-1:hover {
  color: #797775;
}

.bg-grey-light-1 {
  background-color: #797775;
}

.bg-hover-grey-light-1:hover {
  background-color: #797775;
}

.text-grey-light-2 {
  color: #888685;
}

.text-hover-grey-light-2:hover {
  color: #888685;
}

.bg-grey-light-2 {
  background-color: #888685;
}

.bg-hover-grey-light-2:hover {
  background-color: #888685;
}

.text-grey-light-3 {
  color: #979594;
}

.text-hover-grey-light-3:hover {
  color: #979594;
}

.bg-grey-light-3 {
  background-color: #979594;
}

.bg-hover-grey-light-3:hover {
  background-color: #979594;
}

.text-grey-light-4 {
  color: #a6a4a3;
}

.text-hover-grey-light-4:hover {
  color: #a6a4a3;
}

.bg-grey-light-4 {
  background-color: #a6a4a3;
}

.bg-hover-grey-light-4:hover {
  background-color: #a6a4a3;
}

.text-grey-light-5 {
  color: #b5b4b3;
}

.text-hover-grey-light-5:hover {
  color: #b5b4b3;
}

.bg-grey-light-5 {
  background-color: #b5b4b3;
}

.bg-hover-grey-light-5:hover {
  background-color: #b5b4b3;
}

.text-grey-light-6 {
  color: #c3c3c2;
}

.text-hover-grey-light-6:hover {
  color: #c3c3c2;
}

.bg-grey-light-6 {
  background-color: #c3c3c2;
}

.bg-hover-grey-light-6:hover {
  background-color: #c3c3c2;
}

.text-grey-light-7 {
  color: #d2d2d1;
}

.text-hover-grey-light-7:hover {
  color: #d2d2d1;
}

.bg-grey-light-7 {
  background-color: #d2d2d1;
}

.bg-hover-grey-light-7:hover {
  background-color: #d2d2d1;
}

.text-grey-light-8 {
  color: #e1e1e0;
}

.text-hover-grey-light-8:hover {
  color: #e1e1e0;
}

.bg-grey-light-8 {
  background-color: #e1e1e0;
}

.bg-hover-grey-light-8:hover {
  background-color: #e1e1e0;
}

.text-grey-light-9 {
  color: #f0f0f0;
}

.text-hover-grey-light-9:hover {
  color: #f0f0f0;
}

.bg-grey-light-9 {
  background-color: #f0f0f0;
}

.bg-hover-grey-light-9:hover {
  background-color: #f0f0f0;
}

.text-grey-dark-1 {
  color: #5f5e5c;
}

.text-hover-grey-dark-1:hover {
  color: #5f5e5c;
}

.bg-grey-dark-1 {
  background-color: #5f5e5c;
}

.bg-hover-grey-dark-1:hover {
  background-color: #5f5e5c;
}

.text-grey-dark-2 {
  color: #555352;
}

.text-hover-grey-dark-2:hover {
  color: #555352;
}

.bg-grey-dark-2 {
  background-color: #555352;
}

.bg-hover-grey-dark-2:hover {
  background-color: #555352;
}

.text-grey-dark-3 {
  color: #4a4947;
}

.text-hover-grey-dark-3:hover {
  color: #4a4947;
}

.bg-grey-dark-3 {
  background-color: #4a4947;
}

.bg-hover-grey-dark-3:hover {
  background-color: #4a4947;
}

.text-grey-dark-4 {
  color: #403e3d;
}

.text-hover-grey-dark-4:hover {
  color: #403e3d;
}

.bg-grey-dark-4 {
  background-color: #403e3d;
}

.bg-hover-grey-dark-4:hover {
  background-color: #403e3d;
}

.text-grey-dark-5 {
  color: #353433;
}

.text-hover-grey-dark-5:hover {
  color: #353433;
}

.bg-grey-dark-5 {
  background-color: #353433;
}

.bg-hover-grey-dark-5:hover {
  background-color: #353433;
}

.text-grey-dark-6 {
  color: #2a2a29;
}

.text-hover-grey-dark-6:hover {
  color: #2a2a29;
}

.bg-grey-dark-6 {
  background-color: #2a2a29;
}

.bg-hover-grey-dark-6:hover {
  background-color: #2a2a29;
}

.text-grey-dark-7 {
  color: #201f1f;
}

.text-hover-grey-dark-7:hover {
  color: #201f1f;
}

.bg-grey-dark-7 {
  background-color: #201f1f;
}

.bg-hover-grey-dark-7:hover {
  background-color: #201f1f;
}

.text-grey-dark-8 {
  color: #151514;
}

.text-hover-grey-dark-8:hover {
  color: #151514;
}

.bg-grey-dark-8 {
  background-color: #151514;
}

.bg-hover-grey-dark-8:hover {
  background-color: #151514;
}

.text-grey-dark-9 {
  color: #0b0a0a;
}

.text-hover-grey-dark-9:hover {
  color: #0b0a0a;
}

.bg-grey-dark-9 {
  background-color: #0b0a0a;
}

.bg-hover-grey-dark-9:hover {
  background-color: #0b0a0a;
}

.text-purple {
  color: #6e167c;
}

.text-hover-purple:hover {
  color: #6e167c;
}

.bg-purple {
  background-color: #6e167c;
}

.bg-hover-purple:hover {
  background-color: #6e167c;
}

.text-purple-light-1 {
  color: #7d2d89;
}

.text-hover-purple-light-1:hover {
  color: #7d2d89;
}

.bg-purple-light-1 {
  background-color: #7d2d89;
}

.bg-hover-purple-light-1:hover {
  background-color: #7d2d89;
}

.text-purple-light-2 {
  color: #8b4596;
}

.text-hover-purple-light-2:hover {
  color: #8b4596;
}

.bg-purple-light-2 {
  background-color: #8b4596;
}

.bg-hover-purple-light-2:hover {
  background-color: #8b4596;
}

.text-purple-light-3 {
  color: #9a5ca3;
}

.text-hover-purple-light-3:hover {
  color: #9a5ca3;
}

.bg-purple-light-3 {
  background-color: #9a5ca3;
}

.bg-hover-purple-light-3:hover {
  background-color: #9a5ca3;
}

.text-purple-light-4 {
  color: #a873b0;
}

.text-hover-purple-light-4:hover {
  color: #a873b0;
}

.bg-purple-light-4 {
  background-color: #a873b0;
}

.bg-hover-purple-light-4:hover {
  background-color: #a873b0;
}

.text-purple-light-5 {
  color: #b78bbe;
}

.text-hover-purple-light-5:hover {
  color: #b78bbe;
}

.bg-purple-light-5 {
  background-color: #b78bbe;
}

.bg-hover-purple-light-5:hover {
  background-color: #b78bbe;
}

.text-purple-light-6 {
  color: #c5a2cb;
}

.text-hover-purple-light-6:hover {
  color: #c5a2cb;
}

.bg-purple-light-6 {
  background-color: #c5a2cb;
}

.bg-hover-purple-light-6:hover {
  background-color: #c5a2cb;
}

.text-purple-light-7 {
  color: #d4b9d8;
}

.text-hover-purple-light-7:hover {
  color: #d4b9d8;
}

.bg-purple-light-7 {
  background-color: #d4b9d8;
}

.bg-hover-purple-light-7:hover {
  background-color: #d4b9d8;
}

.text-purple-light-8 {
  color: #e2d0e5;
}

.text-hover-purple-light-8:hover {
  color: #e2d0e5;
}

.bg-purple-light-8 {
  background-color: #e2d0e5;
}

.bg-hover-purple-light-8:hover {
  background-color: #e2d0e5;
}

.text-purple-light-9 {
  color: #f1e8f2;
}

.text-hover-purple-light-9:hover {
  color: #f1e8f2;
}

.bg-purple-light-9 {
  background-color: #f1e8f2;
}

.bg-hover-purple-light-9:hover {
  background-color: #f1e8f2;
}

.text-purple-dark-1 {
  color: #631470;
}

.text-hover-purple-dark-1:hover {
  color: #631470;
}

.bg-purple-dark-1 {
  background-color: #631470;
}

.bg-hover-purple-dark-1:hover {
  background-color: #631470;
}

.text-purple-dark-2 {
  color: #581263;
}

.text-hover-purple-dark-2:hover {
  color: #581263;
}

.bg-purple-dark-2 {
  background-color: #581263;
}

.bg-hover-purple-dark-2:hover {
  background-color: #581263;
}

.text-purple-dark-3 {
  color: #4d0f57;
}

.text-hover-purple-dark-3:hover {
  color: #4d0f57;
}

.bg-purple-dark-3 {
  background-color: #4d0f57;
}

.bg-hover-purple-dark-3:hover {
  background-color: #4d0f57;
}

.text-purple-dark-4 {
  color: #420d4a;
}

.text-hover-purple-dark-4:hover {
  color: #420d4a;
}

.bg-purple-dark-4 {
  background-color: #420d4a;
}

.bg-hover-purple-dark-4:hover {
  background-color: #420d4a;
}

.text-purple-dark-5 {
  color: #370b3e;
}

.text-hover-purple-dark-5:hover {
  color: #370b3e;
}

.bg-purple-dark-5 {
  background-color: #370b3e;
}

.bg-hover-purple-dark-5:hover {
  background-color: #370b3e;
}

.text-purple-dark-6 {
  color: #2c0932;
}

.text-hover-purple-dark-6:hover {
  color: #2c0932;
}

.bg-purple-dark-6 {
  background-color: #2c0932;
}

.bg-hover-purple-dark-6:hover {
  background-color: #2c0932;
}

.text-purple-dark-7 {
  color: #210725;
}

.text-hover-purple-dark-7:hover {
  color: #210725;
}

.bg-purple-dark-7 {
  background-color: #210725;
}

.bg-hover-purple-dark-7:hover {
  background-color: #210725;
}

.text-purple-dark-8 {
  color: #160419;
}

.text-hover-purple-dark-8:hover {
  color: #160419;
}

.bg-purple-dark-8 {
  background-color: #160419;
}

.bg-hover-purple-dark-8:hover {
  background-color: #160419;
}

.text-purple-dark-9 {
  color: #0b020c;
}

.text-hover-purple-dark-9:hover {
  color: #0b020c;
}

.bg-purple-dark-9 {
  background-color: #0b020c;
}

.bg-hover-purple-dark-9:hover {
  background-color: #0b020c;
}

.text-pink {
  color: #b42b70;
}

.text-hover-pink:hover {
  color: #b42b70;
}

.bg-pink {
  background-color: #b42b70;
}

.bg-hover-pink:hover {
  background-color: #b42b70;
}

.text-pink-light-1 {
  color: #bc407e;
}

.text-hover-pink-light-1:hover {
  color: #bc407e;
}

.bg-pink-light-1 {
  background-color: #bc407e;
}

.bg-hover-pink-light-1:hover {
  background-color: #bc407e;
}

.text-pink-light-2 {
  color: #c3558d;
}

.text-hover-pink-light-2:hover {
  color: #c3558d;
}

.bg-pink-light-2 {
  background-color: #c3558d;
}

.bg-hover-pink-light-2:hover {
  background-color: #c3558d;
}

.text-pink-light-3 {
  color: #cb6b9b;
}

.text-hover-pink-light-3:hover {
  color: #cb6b9b;
}

.bg-pink-light-3 {
  background-color: #cb6b9b;
}

.bg-hover-pink-light-3:hover {
  background-color: #cb6b9b;
}

.text-pink-light-4 {
  color: #d280a9;
}

.text-hover-pink-light-4:hover {
  color: #d280a9;
}

.bg-pink-light-4 {
  background-color: #d280a9;
}

.bg-hover-pink-light-4:hover {
  background-color: #d280a9;
}

.text-pink-light-5 {
  color: #da95b8;
}

.text-hover-pink-light-5:hover {
  color: #da95b8;
}

.bg-pink-light-5 {
  background-color: #da95b8;
}

.bg-hover-pink-light-5:hover {
  background-color: #da95b8;
}

.text-pink-light-6 {
  color: #e1aac6;
}

.text-hover-pink-light-6:hover {
  color: #e1aac6;
}

.bg-pink-light-6 {
  background-color: #e1aac6;
}

.bg-hover-pink-light-6:hover {
  background-color: #e1aac6;
}

.text-pink-light-7 {
  color: #e9bfd4;
}

.text-hover-pink-light-7:hover {
  color: #e9bfd4;
}

.bg-pink-light-7 {
  background-color: #e9bfd4;
}

.bg-hover-pink-light-7:hover {
  background-color: #e9bfd4;
}

.text-pink-light-8 {
  color: #f0d5e2;
}

.text-hover-pink-light-8:hover {
  color: #f0d5e2;
}

.bg-pink-light-8 {
  background-color: #f0d5e2;
}

.bg-hover-pink-light-8:hover {
  background-color: #f0d5e2;
}

.text-pink-light-9 {
  color: #f8eaf1;
}

.text-hover-pink-light-9:hover {
  color: #f8eaf1;
}

.bg-pink-light-9 {
  background-color: #f8eaf1;
}

.bg-hover-pink-light-9:hover {
  background-color: #f8eaf1;
}

.text-pink-dark-1 {
  color: #a22765;
}

.text-hover-pink-dark-1:hover {
  color: #a22765;
}

.bg-pink-dark-1 {
  background-color: #a22765;
}

.bg-hover-pink-dark-1:hover {
  background-color: #a22765;
}

.text-pink-dark-2 {
  color: #90225a;
}

.text-hover-pink-dark-2:hover {
  color: #90225a;
}

.bg-pink-dark-2 {
  background-color: #90225a;
}

.bg-hover-pink-dark-2:hover {
  background-color: #90225a;
}

.text-pink-dark-3 {
  color: #7e1e4e;
}

.text-hover-pink-dark-3:hover {
  color: #7e1e4e;
}

.bg-pink-dark-3 {
  background-color: #7e1e4e;
}

.bg-hover-pink-dark-3:hover {
  background-color: #7e1e4e;
}

.text-pink-dark-4 {
  color: #6c1a43;
}

.text-hover-pink-dark-4:hover {
  color: #6c1a43;
}

.bg-pink-dark-4 {
  background-color: #6c1a43;
}

.bg-hover-pink-dark-4:hover {
  background-color: #6c1a43;
}

.text-pink-dark-5 {
  color: #5a1638;
}

.text-hover-pink-dark-5:hover {
  color: #5a1638;
}

.bg-pink-dark-5 {
  background-color: #5a1638;
}

.bg-hover-pink-dark-5:hover {
  background-color: #5a1638;
}

.text-pink-dark-6 {
  color: #48112d;
}

.text-hover-pink-dark-6:hover {
  color: #48112d;
}

.bg-pink-dark-6 {
  background-color: #48112d;
}

.bg-hover-pink-dark-6:hover {
  background-color: #48112d;
}

.text-pink-dark-7 {
  color: #360d22;
}

.text-hover-pink-dark-7:hover {
  color: #360d22;
}

.bg-pink-dark-7 {
  background-color: #360d22;
}

.bg-hover-pink-dark-7:hover {
  background-color: #360d22;
}

.text-pink-dark-8 {
  color: #240916;
}

.text-hover-pink-dark-8:hover {
  color: #240916;
}

.bg-pink-dark-8 {
  background-color: #240916;
}

.bg-hover-pink-dark-8:hover {
  background-color: #240916;
}

.text-pink-dark-9 {
  color: #12040b;
}

.text-hover-pink-dark-9:hover {
  color: #12040b;
}

.bg-pink-dark-9 {
  background-color: #12040b;
}

.bg-hover-pink-dark-9:hover {
  background-color: #12040b;
}

.text-white {
  color: #ffffff;
}

.text-hover-white:hover {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.bg-hover-white:hover {
  background-color: #ffffff;
}

.card {
  display: block;
  margin: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px, 3px, 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  border: 0;
}
.btn-primary:hover {
  background-color: #4a7ef0;
}

.btn-outlined-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #326dee;
}
.btn-outlined-primary:hover {
  background-color: #326dee;
}

.btn-complement-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #326dee;
  color: #fae7bf;
}
.btn-complement-primary:hover {
  color: #326dee;
  background-color: #fae7bf;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1e8049;
  border: 0;
}
.btn-secondary:hover {
  background-color: #239555;
}

.btn-outlined-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #1e8049;
}
.btn-outlined-secondary:hover {
  background-color: #1e8049;
}

.btn-complement-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #1e8049;
  color: #d95ea3;
}
.btn-complement-secondary:hover {
  color: #1e8049;
  background-color: #d95ea3;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  border: 0;
}
.btn-error:hover {
  background-color: #da3961;
}

.btn-outlined-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #d32752;
}
.btn-outlined-error:hover {
  background-color: #d32752;
}

.btn-complement-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d32752;
  color: #a5eedc;
}
.btn-complement-error:hover {
  color: #d32752;
  background-color: #a5eedc;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  border: 0;
}
.btn-info:hover {
  background-color: #f7c935;
}

.btn-outlined-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #f6c31c;
}
.btn-outlined-info:hover {
  background-color: #f6c31c;
}

.btn-complement-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #f6c31c;
  color: #afc1fc;
}
.btn-complement-info:hover {
  color: #f6c31c;
  background-color: #afc1fc;
}

.btn-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2b2bb4;
  border: 0;
}
.btn-blue:hover {
  background-color: #3030c9;
}

.btn-outlined-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #2b2bb4;
}
.btn-outlined-blue:hover {
  background-color: #2b2bb4;
}

.btn-complement-blue {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2b2bb4;
  color: #e5e593;
}
.btn-complement-blue:hover {
  color: #2b2bb4;
  background-color: #e5e593;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d78232;
  border: 0;
}
.btn-orange:hover {
  background-color: #db8f47;
}

.btn-outlined-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #d78232;
}
.btn-outlined-orange:hover {
  background-color: #d78232;
}

.btn-complement-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #d78232;
  color: #b2d2f0;
}
.btn-complement-orange:hover {
  color: #d78232;
  background-color: #b2d2f0;
}

.btn-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6a6866;
  border: 0;
}
.btn-grey:hover {
  background-color: #777573;
}

.btn-outlined-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #6a6866;
}
.btn-outlined-grey:hover {
  background-color: #6a6866;
}

.btn-complement-grey {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6a6866;
  color: #b3b5b6;
}
.btn-complement-grey:hover {
  color: #6a6866;
  background-color: #b3b5b6;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6e167c;
  border: 0;
}
.btn-purple:hover {
  background-color: #811a92;
}

.btn-outlined-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #6e167c;
}
.btn-outlined-purple:hover {
  background-color: #6e167c;
}

.btn-complement-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #6e167c;
  color: #60df4c;
}
.btn-complement-purple:hover {
  color: #6e167c;
  background-color: #60df4c;
}

.btn-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b42b70;
  border: 0;
}
.btn-pink:hover {
  background-color: #c9307d;
}

.btn-outlined-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #b42b70;
}
.btn-outlined-pink:hover {
  background-color: #b42b70;
}

.btn-complement-pink {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #b42b70;
  color: #93e5bc;
}
.btn-complement-pink:hover {
  color: #b42b70;
  background-color: #93e5bc;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  border: 0;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #ffffff;
}
.btn-outlined-white:hover {
  background-color: #ffffff;
}

.btn-complement-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ffffff;
  color: white;
}
.btn-complement-white:hover {
  color: #ffffff;
  background-color: white;
}

.navbar .container, .navbar-white .container, .navbar-pink .container, .navbar-purple .container, .navbar-grey .container, .navbar-orange .container, .navbar-blue .container, .navbar-info .container, .navbar-error .container, .navbar-secondary .container, .navbar-primary .container, .navbar, .navbar-white, .navbar-pink, .navbar-purple, .navbar-grey, .navbar-orange, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navbar-white, .navbar-pink, .navbar-purple, .navbar-grey, .navbar-orange, .navbar-blue, .navbar-info, .navbar-error, .navbar-secondary, .navbar-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px, 3px, 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navbar-white .site-title, .navbar-pink .site-title, .navbar-purple .site-title, .navbar-grey .site-title, .navbar-orange .site-title, .navbar-blue .site-title, .navbar-info .site-title, .navbar-error .site-title, .navbar-secondary .site-title, .navbar-primary .site-title {
  font-size: 1.5rem;
}
.navbar-primary {
  background-color: #326dee;
}

.navbar-secondary {
  background-color: #1e8049;
}

.navbar-error {
  background-color: #d32752;
}

.navbar-info {
  background-color: #f6c31c;
}

.navbar-blue {
  background-color: #2b2bb4;
}

.navbar-orange {
  background-color: #d78232;
}

.navbar-grey {
  background-color: #6a6866;
}

.navbar-purple {
  background-color: #6e167c;
}

.navbar-pink {
  background-color: #b42b70;
}

.navbar-white {
  background-color: #ffffff;
}

.badge {
  border-radius: 80px;
  background-color: #f6c31c;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-primary {
  border-radius: 80px;
  background-color: #326dee;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-secondary {
  border-radius: 80px;
  background-color: #1e8049;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-error {
  border-radius: 80px;
  background-color: #d32752;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-info {
  border-radius: 80px;
  background-color: #f6c31c;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-blue {
  border-radius: 80px;
  background-color: #2b2bb4;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-orange {
  border-radius: 80px;
  background-color: #d78232;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-grey {
  border-radius: 80px;
  background-color: #6a6866;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-purple {
  border-radius: 80px;
  background-color: #6e167c;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-pink {
  border-radius: 80px;
  background-color: #b42b70;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.badge-white {
  border-radius: 80px;
  background-color: #ffffff;
  padding: 0.1875rem 0.375rem;
  font-size: 0.75rem;
  font-weight: normal;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}